/** Bootstrap overrides **/

@text-color: #053A64;
@body-bg: #ffcf00;

@headings-small-color: #084B7F;

html, body {
	height: 100%;
	text-shadow: #9b0900 -1px -1px 2px;
}

.site-wrapper {
	height: 100%;
}

.container-fluid {
	height: 100%;
}
