
@import "../../../bower_components/bootstrap/less/bootstrap.less";
/** Define all bootstrap overrides in the follwowing files. Do not touch bootstrap source. **/
@import "custom-variables.less";

.canvas-row {
	height: 40%;
}

.canvas-container {
	padding: 0px 0 0px 0;
  height: 100%;	
  canvas {
	  border: 1px solid #420420;
	  cursor: pointer;
		padding: 0;
  }
}

.manifesto {
  min-height: 0%;
	padding-top: 5px;
	/*box-shadow: inset 0px 0px 5px 2px #C50e50;*/
}

.headline {
	height: 20%;
	text-align: center;
	/*box-shadow: inset 0px 0px 5px 2px #C50e50;*/
}

.loud {
	font-size: @font-size-h6; 
}

.louder {
	font-size: @font-size-h5; 
}

.loudest {
	font-size: @font-size-h4; 
}