.sig-headline-container {
	text-align: center;
	.sig-headline {
		font-family: "Courier New", Courier, monospace;
	}	
}

body {
	background: rgb(220, 220, 220);
}

html, body {
	height: 100%;
}

.site-wrapper {
	height: 100%;
	background: repeating-linear-gradient(to top, #696969 20%, #420420, #696969);
}

.container, .row {
	height: 100%;
}
.canvas-container {
	padding: 15px 0 5px 0;
  height: 80%;	
}

canvas {
	cursor: pointer;
	padding: 0;
	border: 3px solid rgb(50, 50, 50);
}	