<!DOCTYPE html>
<html lang="en" ng-app="dada">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BIG DADA</title>
    <link rel="stylesheet" media="screen" href="stylesheets/main.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-57423196-1', 'auto');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="container-fluid">
        <div class="row canvas-row">
          <div class="col-md-12 canvas-container">
            <div ng-controller="SketchController">
              <canvas id="screen" processing="circleAnimation" alt="clique here">
              Your browser does not support canvas element. Shucks. 
              </canvas>
            </div>
          </div>
        </div>  
        <div class="row manifesto">
          <div class="col-md-4">
            <p>
            We build. We make. We design. We engineer. We draw. We think. We feel. Our skills and energy are supposed to change the world, but our work is focused on making it easy for you to swipe for pizza. We can do something else. We reject creation of capital as the only value prop of technology. 
          </p>
          </div>
          <div class="col-md-4">
            <p>
              BIG DADA is the new wave, is the next wave, it is no wave. BIG DADA is valued at a $100 billion dollars and has every VC waiting for the next round. BIG DADA is monopoly money. BIG DADA is nada. BIG DADA is fully transparent: look right through and you’ll see nothing on the other side. BIG DADA is building nothing out of something. 
            </p>
          </div>
          <div class="col-md-4">
            <p>
            There is more to this than:
            </p>
            <ul>
              <li>managing your personal brand</li>
              <li>working on the next hot local social mobile app</li>
              <li>hitting the front page of TechCrunch for 15 minutes</li>
              <li>spending three days at a hackathon building the next Yelp for string cheese, Uber for bathrooms or Facebook for puppies.</li>
            </ul>
          </div>
        </div>
        <div class="row headline">
          <div class="col-md-offset-4 col-md-4 col-sm-12">
            <h3>The root word of technology is techne: art, skill, cunning of hand. We’re bring techne back.</h3>
            <h1>
             BIG DADA IS HERE
            </h1>
          </div>  
        </div>  
      </div>            
    </div>
    <script src="js/libs/jquery.js" type="text/javascript"></script>
    <script src="js/libs/bootstrap.js" type="text/javascript"></script>
    <script src="js/libs/angular.js" type="text/javascript"></script>
    <script src="js/libs/angular-touch.js" type="text/javascript"></script>
    <script src="js/libs/processing.js" type="text/javascript"></script>
    <script src="js/libs/GiantQuadtree.js" type="text/javascript"></script>

    <!-- build:js:prod js/main.min.js -->
    <script src="js/sketch.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <!-- /build -->

  </body>
</html>